<%= form_for(@listing) do |f| %>
  <% if @listing.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@listing.errors.count, "error") %>
      prohibited this listing from being saved:</h2>

      <ul>
        <% @listing.errors.full_messages.each do |msg| %>
        <li><span class="alert alert-warning"><%= msg %></span></li>
        <% end %>
      </ul>
  </div>
  <% end %>

  <p>
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br/>
    <%= f.text_field :description %>
  </p>
  <% if @listing.new_record? %>
  <%= f.submit "Create Listing", class:"btn btn-lg btn-primary" %>
  <% else %>
  <%= f.submit "Update Listing", class:"btn btn-lg btn-primary" %>
  <% end %>
<% end %>