<h2>New Listing</h2>
<%= form_for(@listing) do |f| %>
  <p>
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br/>
    <%= f.text_field :description %>
  </p>
  <%= f.submit %>
  <% end %>